*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;  
    height: 100vh;
    background: url(img/2206_w026_n002_2028b_p1_2028.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 300px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    display:flex;
    
}
.elevador{
    -webkit-box-shadow: 0px 3px 0px 2px rgba(0,0,0,0.1), 0px 6px 0px 4px rgba(0,0,0,0.1), 0px 9px 0px 6px rgba(0,0,0,0.1), 0px 12px 0px 8px rgba(0,0,0,0.1), 0px 15px 0px 10px rgba(0,0,0,0.1), 0px 18px 0px 12px rgba(0,0,0,0.1), 0px 21px 0px 14px rgba(0,0,0,0.1), 0px 24px 0px 16px rgba(0,0,0,0.1), 0px 27px 0px 18px rgba(0,0,0,0.1), 0px 30px 0px 20px rgba(0,0,0,0.1), 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 3px 0px 2px rgba(0,0,0,0.1), 0px 6px 0px 4px rgba(0,0,0,0.1), 0px 9px 0px 6px rgba(0,0,0,0.1), 0px 12px 0px 8px rgba(0,0,0,0.1), 0px 15px 0px 10px rgba(0,0,0,0.1), 0px 18px 0px 12px rgba(0,0,0,0.1), 0px 21px 0px 14px rgba(0,0,0,0.1), 0px 24px 0px 16px rgba(0,0,0,0.1), 0px 27px 0px 18px rgba(0,0,0,0.1), 0px 30px 0px 20px rgba(0,0,0,0.1), 5px 5px 15px 5px rgba(0,0,0,0);
}
.tela{
    background-color: #adadad;
    display: flex;
    align-items: center;
    justify-content:space-around;
    border-radius: 5px 5px 0px 0px;
    background: rgb(213,213,213);
    background: radial-gradient(circle, rgba(213,213,213,1) 0%, rgba(163,163,163,1) 84%);
    border-radius: 10px 10px 0 0;
}
.triangulo{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 20px 10px;
    border-color: transparent transparent#bdc0bd  transparent; 

}

.trianguloDescendo{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 10px 0 10px;
    border-color: #bdc0bd transparent transparent transparent;
}
#numberAndar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    width: 50px;
    color: orange;
    border-radius: 8px;
}

.img-elevador{
    width: 200px;
    height: 300px;
    
}

.painel{
    width: 6rem;
    background: rgb(213,213,213);
    background: radial-gradient(circle, rgba(213,213,213,1) 0%, rgba(163,163,163,1) 84%);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-left: 1.25rem;
    border-radius: 1.25rem;
    border: 2px solid black;
    box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.56);
}

.painel button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    font-weight: 900;
    border-radius: 50%;
    border-color: black;
    margin: 1.25rem;
    cursor: pointer;
    background-color: #a9eca9;
    box-shadow: inset -1px 3px 8px 5px, 2px 5px 10px 0px #000000, 10px 6px 18px 4px rgba(0,0,0,0);

}
.painel button:disabled{
    background-color: #ecada9;
}

@keyframes transicaoSubir{
    0%{
        border-color: transparent transparent#a9eca9  transparent; 
    }

    100%{
        border-color: transparent transparent rgb(102, 185, 102) transparent; 
      
    }
}

@keyframes transicaoDescer{
    0%{
        border-color: #ecada9 transparent transparent transparent; 
    }

    100%{
        border-color: rgb(185, 102, 102) transparent transparent transparent; 
      
    }
}

@media (max-width: 500px) {
    
    .container{
        width: 100vw;
        height: 100vh;
        justify-content: center;
        flex-direction: column;
    }
    .tela{
        height: 10vh;
    }
    .triangulo{
        border-width: 0 20px 30px 20px;
    }
    .trianguloDescendo{
        border-width: 30px 20px 0 20px;
    }
    #numberAndar{
        width: 70px;
        padding: 10px;
    }
    .img-elevador{
        width: 80vw;
        height: 60vh;
    }
    .painel{
        width: 85vw;
        height: 80px;
        flex-direction: row-reverse;
        margin-top: 30px;
        justify-content: space-between;
    }
    .painel button{
        width: 40px;
        height: 40px;
    }
}